SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b", MODE="660", USER="sava", ENV{ID_MM_DEVICE_IGNORE}="1", SYMLINK+="stlinkv2-1_%n"
